:root{
    --pruple-1: #8a2be2;
}

a {
    color: #fff;
}

.spinner-wrapper{
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: grid;
    place-content: center;
    transition: all 0.2s;
}

.spinner-border{
    width: 80px;
    height: 80px;
    color: #6a21ad;
}

.blur-box{
    text-shadow: 1px 1px 2px #000;
    border-radius: 25px;
    backdrop-filter: blur(5px);
}

.hero{
    padding: 0;
    width: 100%;
    height: 50vh;
    background: no-repeat,
     url("https://www.leetdesk.com/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fleetdesk%2F15a50c7c-e5dc-41ef-bb0c-9edafde96f0b_gaming-zimmer-led-streifen.jpg%3Fauto%3Dcompress%2Cformat&w=3840&q=75"),
     radial-gradient(circle, rgb(0, 0, 0) 8%, rgba(0,0,0,0) 100%);
     background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}    

.hero p{
    font-size: 20px;
}

.hero-bg{
    display: grid;
    place-content: center;
    font-size: 50px;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 50vh;
}

.get-started-btn{
    margin: 15px 100px 0 100px;
    backdrop-filter: drop-shadow(20px);
}
/*Home*/

.bord{
    border-radius: 25px;
}

/*cards*/
.purple-btn{
    background-color: #8a2be2;
    border: transparent;
} 

#next-caroucell, #prev-caroucell{
    filter: invert(0) grayscale(0);
}


.purple-btn:hover {
    background-color: #6a21ad;
}

.purple-btn-secondary {
    border: #8a2be2 1px solid;
    transition: .5s;
}

.purple-btn-secondary:hover {
    background-color: #6a21ad;
    transition: .5s;
}

.basket-card{
    align-items: center;
    justify-content: center;
    margin-left: 88.2%;
    width: 10%;
    height: 50px;
    left: 1%;
    bottom: 1%;
    background-color: #8a2be2;
    padding-left: 25px;
    border-radius: 5px;
}

.baket-content:where svg{
    padding: 5px;
}

.poster{
    transition: box-shadow .1s transform;
    transition: .2s;
}

.poster:hover{
    z-index: 9;
    box-shadow: 0 0 50px #000;
    transition: .2s;
}

#float-left{
    
    margin-left:auto; 
    margin-right:0;
}

.car-ico{
    width: 4rem;
    height: 4rem;
}

.accordion-style {
    outline:none;
    background-color: #6a21ad;
    box-shadow: none;

    
    &:not(.collapsed) {
        color: #fff;
        background-color: #9655d3;
        box-shadow: inset 0 calc(-1 * 0px) 0 #6a21ad;
    
      }  

      &:focus {
        z-index: 30;
        border-color: #6a21ad;
        outline: 0;
        box-shadow: #8a2be2;
      }
}

.accordion-button:focus {
    border: #8a2be2 sol;
    box-shadow: #6a21ad;
}

li{
    list-style: none;
}

.footer{
    width: 100%;
    height: 5rem;
}

.footer-ico{
    font-size: 3rem;
    padding: 8px;
    transition: 0.2s;
    color: #fff;
    &:hover{
        text-shadow: 0px 0px 90px #6a21ad;
        color: #8a2be2;
        transition: 0.2s;
        font-size: 4.5rem;
    }
}



#map {
    z-index: 10;
	height: 500px;
	width: 100%;
    border-radius: 25px;
    margin-bottom: 15px;
}